
.main-li{
    list-style: none;
}





.main-1{
    display: grid;
    grid-template-columns: repeat(2,1fr);

}
.btn-1{
    width: 200px;
    height: 50px;
    background-color: black;
    color: white;
    justify-self: end;
}
.main-1 > h2{
    font-size: 35px;
    font-family: cursive;
    font-weight: bold;
    justify-self: start;
}

.main-2{
    display: grid;

    grid-template-columns: repeat(3,1fr);
}
.m-2{
    background-color:rgb(206, 201, 201);
    border: 0 solid;
    color: rgb(130, 124, 124);
    border-radius: 20px;
    max-width: 100%;
    
}
.m-2 > h3{
    background-color:rgb(206, 201, 201);
    color: black;

}
.m-2 > h2{
    background-color:rgb(206, 201, 201);
    color: black;
    justify-self: start;

}
.m-2 > p{
    background-color:rgb(206, 201, 201);

}

.m-2:hover{
    box-shadow: 0 0 25px rgb(136, 136, 136);
}
