nav{
    background-color: rgba(242, 153, 153, 0.762);
}


.Nav-tag{
    display: inline-grid;
    grid-template-columns:repeat(6,1fr) ;
    grid-column-gap: 20px;
    justify-content: space-evenly;
    align-content: space-evenly;
}


.main-a{
    text-decoration: none;
    font-size: 25px;
}
.main-a:hover{
    color: rgb(239, 119, 119);
    background-color: rgb(194, 227, 188);
    text-decoration: underline;
    
}

.main-li{
    list-style: none;
}